<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

{% extends "Manufacture/index.html" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table  class="table table-bordered" width="1000">
{% if data %}
  <tr>
    <th scope="row">#</th>
    <th>PRODUCT</th>
          <th>Batch No</th>

          <th>Manufacturing Date</th>
    <th>Expiry Date</th>
    <th>Price</th>
    <th>Image</th>
      <th>Quantity</th>
  <th></th>
  </tr>
    {% for i in data %}

  <tr>
    <th scope="row">&nbsp;</th>
    <th>&nbsp;</th>
          <th>&nbsp;</th>

          <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
            <th>&nbsp;</th>
          <th>&nbsp;</th>
  <th>
 
      <a href="" class="btn btn-danger" >Delete</a>
  </th>
  </tr>
   <td colspan="8">  <div align="center"><a href="" class="btn btn-danger" >ADD NEW</a></div></td></tr>
</table>

</body>
</html>

